@import url('./fontawesome/css/fontawesome.min.css');
@import url('/fontawesome/css/all.min.css');
@import url('/fontawesome/css/brands.min.css');

:root {
  --main-color-1--: #d83211;
  --main-color-2--: #ff7337;
  --main-color-3--: #ffffff;
  --background-color-1--: #dddddd;
  --background-color-2--: #ffffff;
  --text-color-1--: #d83211;
  --text-color-2--: #ffffff;
  --text-color-3--: #dddddd;
  --text-color-4--: #000000;
  --text-color-5--: #ff7337;
  --text-color-hover-1--: #eeeeee;
  --hover-button-color-1--: rgba(0, 0, 0, 0.6);
  --shadow-color-1--: #0000001a;
  --hightlight-color-1--: yellow;
  --remain-color-1--: #d8321193;
}


*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {

  font-family: sans-serif;
}


body {
  background-color: var(--background-color-1--);
  position: relative;
}

.navigation-bar {
  background-image: linear-gradient(var(--main-color-1--), var(--main-color-2--));
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  z-index: 999;
}

.navigation-bar .content {
  width: 100%;
  max-width: 1200px;
}

.navigation-bar .content a,
.navigation-bar .content p {
  color: var(--text-color-2--);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: lighter;
}

.navigation-bar .links {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem 0 1rem 0;
}

.navigation-bar a:hover {
  color: var(--text-color-hover-1--);
}

.useful-links {
  display: flex;
  gap: 1rem;
}

.useful-links {
  display: flex;
  gap: 1rem;
}

.separator-after {
  position: relative;
}

.separator-after::after {
  position: absolute;
  content: '';
  height: 1rem;
  width: 1px;
  right: -0.5rem;
  top: 0;
  background-color: var(--text-color-hover-1--);
}

.useful-features {
  display: flex;
  gap: 1rem;
}

.avatar {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid white;
  border-radius: 50%;
  background-color: var(--main-color-2--);

  text-align: center;
  font-size: 0.7rem;
  color: var(--text-color-hover-1--);
}

.search-and-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0 0 0;
}

.home {
  display: flex;
  align-items: end;
  color: var(--text-color-2--);
}

.home:hover {
  cursor: pointer;
}

.home i {
  font-size: 40px;
}

.home h1 {
  font-size: 30px;
  font-weight: lighter;
}

.cart button {
  border: none;
  background-color: transparent;
  color: var(--text-color-2--);
  font-size: 25px;
  margin-right: 1rem;
}

.cart button:hover {
  cursor: pointer;
}

.search {
  flex: 1 1 100%;
  padding: 0 2rem;
}

.search form {
  position: relative;
}

#search-bar {
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.2rem;
}

.search-button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  height: 2rem;
  width: 4rem;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--main-color-2--);
  color: var(--text-color-2--);
}

.search-button:hover {
  background-color: var(--main-color-2--);
  cursor: pointer;
}

.suggest-searchs {
  display: flex;
  gap: 0.8rem;
  padding-top: 0.5rem;
}

.sale-banner {
  background-color: var(--main-color-3--);
  display: flex;
  justify-content: center;
  box-shadow: 0 0 1px black;
  margin-bottom: 2rem;
}

.sale-banner .wrapper {
  flex: 1 1 100%;
  max-width: 1200px;
}

.ads-banners {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.3rem;
  margin: 1.5rem 0;
}

.main-banner {
  grid-row: 1/3;
  grid-column: 1/2
}

.banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner-navigation,
.previous-banner-button,
.next-banner-button {
  grid-row: 1/3;
  grid-column: 1/2;
}

.banner-navigation {
  justify-self: center;
  align-self: self-end;
  margin-bottom: 0.5rem;
}

.banner-navigation button {
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid white;
  border-radius: 50%;
  background-color: var(--background-color-1--);
}

.banner-navigation button.active {
  background-color: var(--main-color-2--);
}

.banner-navigation button:hover {
  cursor: pointer;
}

.next-banner-button,
.previous-banner-button {
  width: 2rem;
  height: 3rem;
  border: none;
  color: transparent;
  background-color: transparent;
}

.previous-banner-button {
  align-self: center;
}

.next-banner-button {
  align-self: center;
  justify-self: end;
}

.ads-banners:hover .next-banner-button,
.ads-banners:hover .previous-banner-button {
  color: var(--text-color-2--);
  background-color: var(--hover-button-color-1--);
  transition: 200ms;
}

.ads-banners:hover .next-banner-button:hover,
.ads-banners:hover .previous-banner-button:hover {
  background-color: var(--hover-button-color-1--);
  cursor: pointer;
}

.deals {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 1rem 0;
  padding: 0 1rem;
}

.deal {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 0.8rem;
  text-align: center;
}

.deals img {
  width: 45px;
  height: 45px;
}

.main-section {
  max-width: 1200px;
  justify-self: center;
}

.selection {
  background-color: transparent;
  justify-self: center;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.selection .wrapper .wrapper {
  overflow: scroll;
}

.selection .wrapper .wrapper::-webkit-scrollbar {
  display: none;
}

.selection-title {
  color: var(--text-color-4--);
  background-color: var(--background-color-2--);
  padding: 1.5rem;
}

.selection-tiles {
  width: 141%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(14, fr);
  grid-template-rows: 1fr 1fr;
  gap: 1px;
  margin: 1px 0;
  position: relative;
}

.selection-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  font-size: 0.8rem;
  background-color: var(--background-color-2--);
  padding: 0.5rem 0;
}

.selection-tile:hover {
  box-shadow: 0 5px 10px var(--shadow-color-1--);
  transition: 300ms;
  position: relative;
  cursor: pointer;
}

.selection-tile img {
  object-fit: contain;
  width: 70%;
}

.selection-tile p {
  text-align: center;
}

.selection .wrapper {
  position: relative;
}

.previous-button,
.next-button {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  color: var(--text-color-4--);
  z-index: 1;
}

.previous-button {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.next-button {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.selection:hover .previous-button,
.selection:hover .next-button,
.flash-sale:hover .previous-button,
.flash-sale:hover .next-button,
.shopee-mall:hover .previous-button,
.shopee-mall:hover .next-button {
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: 200ms;
}

.flash-sale {
  background-color: var(--background-color-2--);
  margin: 1.5rem 0;
}

.flash-sale-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.flash-sale-header h2 {
  display: flex;
  align-items: center;
}

.flash-sale-header img {
  height: 1.5rem;
  margin: 0.2rem;
}


.clock-item {
  font-family: monospace;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-color-2--);
  background-color: black;
  border-radius: 0.2rem;
  padding: 0.1rem 0.2rem;
  margin: 0.1rem;

  display: flex;
}

.flash-sale-header a {
  text-decoration: none;
  color: var(--main-color-2--);
  font-size: 0.9rem;
}

.flash-sale-items {
  position: relative;
}

.flash-sale-items .wrapper {
  overflow: scroll;
}

.flash-sale-items .wrapper::-webkit-scrollbar {
  display: none;
}

.flash-sale-tiles {
  display: grid;
  grid-template-columns: repeat(12, 16.666%);
  width: 100%;
}

.flash-sale-tile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-decoration: none;
}

.flash-sale-tile img {
  object-fit: contain;
  width: 100%;
}

.flash-sale-tile .sale-item,
.flash-sale-tile .sale-overlay {
  grid-row: 1/2;
  grid-column: 1/2;
  object-fit: contain;
  width: 100%;
  padding: 0.8rem;
}

.flash-sale-tile .sale-stamp {
  grid-row: 1/2;
  grid-column: 1/2;
  object-fit: contain;
  width: 23%;
  align-self: self-start;
  justify-self: self-start;
  position: relative;
  left: 9px;
  top: 20px;
}

.sale-percent {
  margin: 0.8rem;
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: self-start;
  justify-self: self-end;
  background-color: var(--hightlight-color-1--);
  color: var(--main-color-2--);
}

.sale-price {
  grid-row: 2/3;
  grid-column: 1/2;
  color: var(--main-color-1--);
  font-family: sans-serif;
}

.sale-price:after {
  content: "đ";
  text-decoration: underline;
  font-size: 0.9rem;
  position: relative;
  top: -3px;
  padding: 0 0.2rem;
}

.sale-remain {
  grid-row: 3/4;
  grid-column: 1/2;
  width: 90%;
  padding: 0.2rem;
  background-color: var(--remain-color-1--);
  border-radius: 1rem;
  position: relative;
}

.sale-remain-percent {
  width: 23%;
  height: 100%;
  padding: auto;
  justify-self: self-start;
  background-image: linear-gradient(to right, var(--main-color-1--), var(--main-color-2--));
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0
}

.flash-sale-tile p {
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  color: var(--text-color-2--);
}

.voucher-banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 1.5rem 0;
}

.voucher-banner img,
.voucher-banner .voucher-links {
  grid-row: 1/2;
  grid-column: 1/2;
}

.voucher-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.shopee-mall {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:
    "header header"
    "ad tiles";
}

.shopee-mall-header {
  grid-area: header;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--background-color-2--);
  border-bottom: 1px solid var(--background-color-1--);
}

.shopee-mall-header h2 {
  font-size: 1rem;
  font-weight: lighter;
  color: var(--main-color-1--);
  position: relative;
}

.shopee-mall-header h2::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0.5rem;
  background-color: var(--background-color-1--);
}

.shopee-mall-header i {
  color: var(--main-color-1--);
  font-size: 0.8rem;
}

.shopee-mall-header a {
  margin-left: auto;
  color: var(--main-color-1--);
  text-decoration: none;
}

.shopee-mall-ad {
  grid-area: ad;
  padding: 0.5rem;
  background-color: var(--background-color-2--);
}

.shopee-mall .wrapper {
  position: relative;
}

.shopee-mall .wrapper,
.shopee-mall .next-button,
.shopee-mall .previous-button {
  grid-area: tiles
}

.shopee-mall-tiles {
  height: 100%;
  overflow: scroll;
}

.shopee-mall-tiles::-webkit-scrollbar {
  display: none;
}

.shopee-mall-tiles .grid-wrapper {
  height: 100%;
  width: 200%;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 1px;
}

.grid-wrapper .shopee-mall-tile {
  background-image: url("img/shopee-mall/item-1.webp");

  display: flex;
  align-items: end;
  justify-content: center;
  padding: 0.7rem;
}

.shopee-mall-tile p {
  color: var(--main-color-1--);
}

.top-searched {
  margin: 1.5rem 0;
}

.top-searched-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-2--);

  border-bottom: 1px solid var(--background-color-1--);
}

.top-searched-header h2 {
  font-size: 1rem;
  font-weight: lighter;
  color: var(--text-color-1--);
}

.top-searched-header a {
  text-decoration: none;
  color: var(--text-color-5--);
}

.top-seached-tiles {
  overflow: scroll;
}

.top-seached-tiles::-webkit-scrollbar {
  display: none;
}

.top-seached-tiles .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(18, 16.666%);
  width: 100%;
}

.top-seached-tile {
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-auto-flow: column;

  padding: 0.5rem;
  background-color: var(--background-color-2--);
}

.top-seached-tile .top-seached-overlay,
.top-seached-tile .top-searched-item,
.top-seached-tile .sale-rate {
  grid-row: 1/2;
  grid-column: 1/2;
}

.top-seached-tile .top-seached-overlay {
  width: 15%;
}

.top-seached-tile .top-searched-item {
  object-fit: contain;
  width: 100%;
}

.top-seached-tile .sale-rate {
  width: 100%;
  padding: 0.2rem;
  text-align: center;
  align-self: end;

  font-size: 0.9rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.top-seached-tile .product-name {
  text-align: center;
  align-self: center;
}

.today-suggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 1.5rem 0;
}

.today-suggestions-header {
  text-align: center;
  font-size: 1rem;
  color: var(--text-color-1--);
  font-weight: lighter;
  background-color: white;
  padding: 1rem;
  border-bottom: 5px solid var(--main-color-2--);
  position: sticky;
  top: 120px;
  z-index: 1;
}

.today-suggestions .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
}

.today-suggestion-item {
  display: grid;
  grid-template-rows: 10fr 2fr 1fr 2fr;
  grid-auto-flow: column;
  align-items: center;
  background-color: var(--background-color-2--);
  border: 1px solid rgba(128, 128, 128, 0.582);
  position: relative;
}

.today-suggestion-item:hover {
  border: 1px solid var(--main-color-2--);
  cursor: pointer;
  top: 0;
  left: 0;
}

.today-suggestion-item .product-img,
.today-suggestion-item .sale-overlay {
  width: 100%;
  object-fit: contain;
}

.today-suggestion-item .product-img,
.today-suggestion-item .sale-overlay,
.today-suggestion-item .discount-label,
.today-suggestion-item .video-label {
  grid-row: 1/2;
  grid-column: 1/2;
}

.today-suggestion-item .discount-label {
  height: fit-content;
  justify-self: end;
  align-self: self-start;
  padding: 0.2rem;
  font-size: 0.8rem;
  color: var(--text-color-1--);
  background-color: pink;
  border-bottom-left-radius: 0.4rem;
}

.today-suggestion-item .video-label {
  justify-self: end;
  align-self: end;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
}

.item-name {
  padding: 0 0.3rem;
  font-size: 0.9rem;
}

.item-tags {
  padding: 0 0.3rem;
}

.liked-tag {
  font-size: 0.6rem;
  color: var(--text-color-2--);
  background-color: var(--main-color-1--);
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

.cheap-tag {
  font-size: 0.6rem;
  color: var(--main-color-1--);
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  border: 1px solid var(--main-color-1--);
}

.discount-tag {
  font-size: 0.6rem;
  color: var(--text-color-2--);
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--main-color-2--);
}

.process-tag {
  font-size: 0.6rem;
  color: var(--text-color-2--);
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--main-color-1--);
}

.item-price {
  color: var(--main-color-1--);
  padding: 0 0.3rem;
}

.item-price::after {
  content: "đ";
  text-decoration: underline;
  font-size: 0.9rem;
  position: relative;
  top: -3px;
  padding: 0 0.2rem;
}

.more-like-this-link {
  position: absolute;
  top: 100%;
  z-index: 1;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--main-color-1--);
  display: none;
}

.more-like-this-link a {
  color: var(--text-color-2--);
  text-decoration: none;
}

.today-suggestion-item:hover .more-like-this-link {
  display: block;
}

.login-invitation {
  margin: 1.5rem 0;
  padding: 0.8rem;
  width: 30rem;
  align-self: center;
  background-color: var(--background-color-2--);
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-invitation:hover {
  cursor: pointer;
  background-color: rgb(236, 236, 236);
}