@import url('./fontawesome/css/fontawesome.min.css');
@import url('/fontawesome/css/all.min.css');
@import url('/fontawesome/css/brands.min.css');

:root {
  --main-color-1--: #d83211;
  --main-color-2--: #ff7337;
  --main-color-3--: #ffffff;
  --background-color-1--: #dddddd;
  --background-color-2--: #ffffff;
  --background-color-3--: #00000010;
  --background-color-4--: #f0f0f0;
  --text-color-1--: #d83211;
  --text-color-2--: #ffffff;
  --text-color-3--: #dddddd;
  --text-color-4--: #000000;
  --text-color-5--: #ff7337;
  --text-color-6--: #007777;
  --text-color-7--: #b4b4b4;
  --text-color-hover-1--: #eeeeee;
  --hover-button-color-1--: #00000099;
  --shadow-color-1--: #0000001a;
  --hightlight-color-1--: #ffff00;
  --remain-color-1--: #d8321193;
}


*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li {

  font-family: sans-serif;
}


body {
  background-color: var(--background-color-1--);
  position: relative;
}

.navigation-bar {
  background-image: linear-gradient(var(--main-color-1--), var(--main-color-2--));
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.navigation-bar .content {
  width: min(98%, 1200px);
}

.navigation-bar .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.useful-links,
.useful-features {
  max-width: 600px;
}

.useful-links {
  display: flex;
}

.useful-links a,
.useful-links span,
.useful-features a {
  color: var(--text-color-2--);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: lighter;
}

.useful-links a:hover,
.useful-links span:hover,
.useful-features a:hover {
  color: var(--text-color-3--);
}

.useful-links .link-label {
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.separator-after::after {
  content: "|";
  color: var(--text-color-2--);
  margin-left: 0.5rem;
}

.download-popup-detector {
  position: relative;
}

.download-popup {
  display: none;
}

.download-popup img {
  margin: 0.5rem;
}

.download-popup-detector:hover .download-popup {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: white;
}

.useful-features {
  display: flex;
}

.useful-features .link-label {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.notification-popup {
  display: none;
}

.notification-popup-detector {
  position: relative;
}

.notification-popup-detector:hover .notification-popup {
  display: block;
  position: absolute;
  right: 0;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 400px;
  background-color: var(--background-color-2--);
}

.notification-popup-header {
  background-color: var(--background-color-2--);
  padding: 0.5rem;
  font-family: sans-serif;
  font-size: 1rem;
  color: var(--text-color-3--);
}

.notification-link {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "img title"
    "img content";
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(255, 246, 247);
}

.notification-link:hover {
  cursor: pointer;
  background-color: rgb(246, 249, 255);
}

.notification-image {
  grid-area: img;
  object-fit: contain;
  width: 100%;
}

.notification-title {
  color: black;
}

.notification-content {
  color: gray;
}

.notification-popup-show-all {
  text-align: center;
  padding: 0.5rem
}

.notification-popup-show-all a {
  color: black;
  font-size: 1rem;
}

.language-selector {
  display: none;
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color-2--);
}

.language-selector-detector {
  position: relative;
  cursor: pointer;
}

.language-selector-detector:hover .language-selector {
  position: absolute;
  right: 0;
  z-index: 1;
  display: grid;
  grid-template-rows: 1f 1fr;
}

.language-selector a {
  padding: 0.5rem 1rem;
  font-family: sans-serif;
  color: black;
}

.language-selector .checked {
  color: var(--text-color-1--);
}

.language-selector:hover a {
  color: var(--text-color-4--);
}

.language-selector:hover a:hover {
  color: var(--text-color-1--);
}

.avatar {
  display: flex;
  align-items: center;
}

.user-menu-detector {
  position: relative;
}

.user-menu {
  display: none;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color-2--);
}

.user-menu a {
  padding: 0.5rem;
  color: var(--text-color-4--);
  background-color: var(--background-color-2--);
}

.user-menu a:hover {
  color: var(--text-color-6--);
  background-color: var(--background-color-3--);
}

.user-menu-detector:hover .user-menu {
  position: absolute;
  right: 0;
  z-index: 1;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

}

.avatar img {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin: 0 0.1rem;
}

.avatar span {
  margin: 0 0.1rem;
}

.search-and-cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1.5rem 0 0 0;
}

.home {
  display: flex;
  align-items: end;
  color: var(--text-color-2--);
  padding: 0 1rem;
}

.home:hover {
  cursor: pointer;
}

.home i {
  font-size: 40px;
}

.home h1 {
  font-size: 30px;
  font-weight: lighter;
}

.cart {
  padding: 0 1rem;
}

.cart-icon {
  color: var(--text-color-2--);
  font-size: 2rem;
  position: relative;
}

.cart-item-count {
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--main-color-1--);
  padding: 0.1rem 0.2rem;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: .3rem;
}

.cart-popup {
  display: none;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color-2--);
}

.cart-popup-detector {
  position: relative;
}

.cart-popup-detector:hover .cart-popup {
  display: block;
  position: absolute;
  right: 0;
}

.empty-cart {
  aspect-ratio: 3/1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.cart-content-header {
  padding: 1rem;
  color: var(--text-color-7--);
}

.cart-content-item {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  gap: 0.4rem;

  padding: 0.4rem;
  text-decoration: none;
}

.cart-content-item:hover {
  background-color: var(--background-color-1--);
}

.cart-content-item img {
  width: 70px;
  padding: 0.2rem;
}

.cart-item-name {
  padding: 0.3rem;
  font-size: 0.8rem;
  color: var(--text-color-4--);
}

.cart-item-price {
  color: var(--main-color-1--);
  font-size: 0.8rem;
}

.cart-item-price:after {
  content: "đ";
  text-decoration: underline;
  font-size: 0.9rem;
  position: relative;
  top: -3px;
  padding: 0 0.2rem;
}

.cart-content-show-all {
  padding: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-content-show-all span {
  font-size: 0.7rem;
  padding: 0.5rem;
  margin: 0.2rem;
}

.cart-content-show-all a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.2rem;
  background-color: var(--main-color-1--);
  padding: 0.5rem;
  margin: 0.2rem;
}

.search {
  flex: 1 1 100%;
  padding: 0 1rem;
}

.search form {
  position: relative;
}

#search-bar {
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.2rem;
}

.search-history-popup {
  display: none;
  width: 90%;
  margin-top: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  background-color: var(--background-color-2--);
}

.search-history-popup a {
  font-size: 0.9rem;
  color: var(--text-color-4--);
  text-decoration: none;
  padding: 0.7rem;
}

.search-history-popup a:hover {
  background-color: var(--background-color-4--);
}

.search-history-popup-detector {
  position: relative;
}

.search-history-popup-detector:focus-within .search-history-popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
}

.search-button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  height: 2rem;
  width: 4rem;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--main-color-2--);
  color: var(--text-color-2--);
}

.search-button:hover {
  background-color: var(--main-color-2--);
  cursor: pointer;
}

.suggest-searchs {
  display: flex;
  gap: 0.8rem;
  margin: 0.5rem;
  height: 1rem;
  overflow: hidden;
  flex-wrap: wrap;
}

.suggest-searchs a {
  white-space: no-wrap;
  color: var(--text-color-2--);
  text-decoration: none;
  font-size: 0.8rem;
}

.sale-banner {
  background-color: var(--main-color-3--);
  display: flex;
  justify-content: center;
  box-shadow: 0 0 1px black;
  margin-bottom: 2rem;
}

.sale-banner .wrapper {
  flex: 1 1 100%;
  max-width: 1200px;
}

.ads-banners {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.3rem;
  margin: 1.5rem 0;
}

.main-banners {
  grid-row: 1/3;
  grid-column: 1/2;

  display: grid;
  grid-template-columns: repeat(10, 100%);
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.main-banners::-webkit-scrollbar {
  display: none;
}

.main-banners img {
  scroll-snap-align: start;
}

.main-banners img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner-navigation,
.previous-banner-button,
.next-banner-button {
  grid-row: 1/3;
  grid-column: 1/2;
}

.banner-navigation {
  justify-self: center;
  align-self: self-end;
  margin-bottom: 0.5rem;
}

.banner-navigation-button {
  width: 0.7rem;
  height: 0.7rem;
  margin: 0.1rem;
  border: 1px solid white;
  border-radius: 50%;
  background-color: var(--background-color-1--);
}

.active-banner-navigation-button {
  background-color: var(--main-color-2--);
}

.banner-navigation button:hover {
  cursor: pointer;
}

.next-banner-button,
.previous-banner-button {
  width: 2rem;
  height: 3rem;
  border: none;
  color: transparent;
  background-color: transparent;
}

.previous-banner-button {
  align-self: center;
}

.next-banner-button {
  align-self: center;
  justify-self: end;
}

.ads-banners:hover .next-banner-button,
.ads-banners:hover .previous-banner-button {
  color: var(--text-color-2--);
  background-color: var(--hover-button-color-1--);
  transition: 200ms;
}

.ads-banners:hover .next-banner-button:hover,
.ads-banners:hover .previous-banner-button:hover {
  background-color: var(--hover-button-color-1--);
  cursor: pointer;
}

.deals {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 1rem 0;
  padding: 0 1rem;
}

.deal {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  color: var(--text-color-4--);
}

.deal:hover {
  position: relative;
  top: -1px;
}

.deals img {
  width: 45px;
  height: 45px;
}

.main-section {
  max-width: 1200px;
  justify-self: center;
}

.selection {
  background-color: transparent;
  justify-self: center;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.selection-title {
  color: var(--text-color-4--);
  background-color: var(--background-color-2--);
  padding: 1.5rem;
}

.selection-tiles .grid-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(14, 10%);
  grid-template-rows: 1fr 1fr;

  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.selection-tiles .grid-wrapper::-webkit-scrollbar {
  display: none;
}

.selection-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  margin: 1px 1px 0 0;
  padding: 0.5rem;

  font-size: 0.8rem;
  text-decoration: none;
  color: var(--text-color-4--);
  background-color: var(--background-color-2--);

  scroll-snap-align: start;
}

.selection-tile:hover {
  box-shadow: 0 5px 10px var(--shadow-color-1--);
  transition: 300ms;
  position: relative;
  cursor: pointer;
}

.selection-tile img {
  object-fit: contain;
  width: 70%;
}

.selection-tile p {
  text-align: center;
}

.selection-body {
  position: relative;
}

.previous-button,
.next-button {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  color: var(--text-color-4--);
  z-index: 1;
}

.previous-button {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.next-button {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.selection:hover .previous-button,
.selection:hover .next-button,
.flash-sale:hover .previous-button,
.flash-sale:hover .next-button,
.shopee-mall:hover .previous-button,
.shopee-mall:hover .next-button,
.top-searched:hover .previous-button,
.top-searched:hover .next-button {
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: 200ms;
}

.flash-sale {
  background-color: var(--background-color-2--);
  margin: 1.5rem 0;
}

.flash-sale-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.flash-sale-header h2 {
  display: flex;
  align-items: center;
}

.flash-sale-header img {
  height: 1.5rem;
  margin: 0.2rem;
}


.clock-item {
  font-family: monospace;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-color-2--);
  background-color: black;
  border-radius: 0.2rem;
  padding: 0.1rem 0.2rem;
  margin: 0.1rem;

  display: flex;
}

.flash-sale-header a {
  text-decoration: none;
  color: var(--main-color-2--);
  font-size: 0.9rem;
}

.flash-sale-body {
  position: relative;
}

.flash-sale-tiles {
  display: grid;
  grid-template-columns: repeat(12, 16.666%);
  width: 100%;

  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.flash-sale-tiles::-webkit-scrollbar {
  display: none;
}

.flash-sale-tile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-decoration: none;

  scroll-snap-align: start;
}

.flash-sale-tile img {
  object-fit: contain;
  width: 100%;
}

.flash-sale-tile .sale-item,
.flash-sale-tile .sale-overlay {
  grid-row: 1/2;
  grid-column: 1/2;
  object-fit: contain;
  width: 100%;
  padding: 0.8rem;
}

.flash-sale-tile .sale-stamp {
  grid-row: 1/2;
  grid-column: 1/2;
  object-fit: contain;
  width: 23%;
  align-self: self-start;
  justify-self: self-start;
  position: relative;
  left: 9px;
  top: 20px;
}

.sale-percent {
  margin: 0.8rem;
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: self-start;
  justify-self: self-end;
  background-color: var(--hightlight-color-1--);
  color: var(--main-color-2--);
}

.sale-price {
  grid-row: 2/3;
  grid-column: 1/2;
  color: var(--main-color-1--);
  font-family: sans-serif;
}

.sale-price:after {
  content: "đ";
  text-decoration: underline;
  font-size: 0.9rem;
  position: relative;
  top: -3px;
  padding: 0 0.2rem;
}

.sale-remain {
  grid-row: 3/4;
  grid-column: 1/2;
  width: 90%;
  padding: 0.2rem;
  background-color: var(--remain-color-1--);
  border-radius: 1rem;
  position: relative;
}

.sale-remain-percent {
  width: 23%;
  height: 100%;
  justify-self: self-start;
  background-image: linear-gradient(to right, var(--main-color-1--), var(--main-color-2--));
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0
}

.flash-sale-tile p {
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  color: var(--text-color-2--);
  z-index: 1;
  position: relative;
}

.voucher-banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 1.5rem 0;
}

.voucher-banner img,
.voucher-banner .voucher-links {
  grid-row: 1/2;
  grid-column: 1/2;
}

.voucher-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.shopee-mall {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:
    "header header"
    "ad tiles";
}

.shopee-mall-header {
  grid-area: header;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--background-color-2--);
  border-bottom: 1px solid var(--background-color-1--);
}

.shopee-mall-header h2 {
  font-size: 1rem;
  font-weight: lighter;
  color: var(--main-color-1--);
  position: relative;
}

.shopee-mall-header h2::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0.5rem;
  background-color: var(--background-color-1--);
}

.shopee-mall-header i {
  color: var(--main-color-1--);
  font-size: 0.8rem;
}

.shopee-mall-header a {
  margin-left: auto;
  color: var(--main-color-1--);
  text-decoration: none;
}

.shopee-mall-ad {
  grid-area: ad;
  padding: 0.5rem;
  background-color: var(--background-color-2--);
}

.shopee-mall-body {
  position: relative;
  background-color: white;
}

.shopee-mall-tiles {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(8, 25%);
  grid-template-rows: 1fr 1fr;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.shopee-mall-tiles::-webkit-scrollbar {
  display: none;
}

.shopee-mall-tile {
  display: grid;
  grid-template-areas: "item";
  align-items: end;
  justify-items: center;
  text-decoration: none;
  scroll-snap-align: start;
}

.shopee-mall-tile img {
  grid-area: item;
  width: 100%;
  object-fit: contain;
}

.shopee-mall-tile p {
  grid-area: item;
  padding: 0.5rem;
  color: var(--text-color-1--);
  font-size: 1.2rem;
}

.top-searched {
  margin: 1.5rem 0;
}

.top-searched-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-2--);

  border-bottom: 1px solid var(--background-color-1--);
}

.top-searched-header h2 {
  font-size: 1rem;
  font-weight: lighter;
  color: var(--text-color-1--);
}

.top-searched-header a {
  text-decoration: none;
  color: var(--text-color-5--);
}

.top-searched-body {
  position: relative;
}

.top-searched-tiles {
  display: grid;
  grid-template-columns: repeat(18, 16.666%);
  width: 100%;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.top-searched-tiles::-webkit-scrollbar {
  display: none;
}

.top-searched-tile {
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-auto-flow: column;

  padding: 0.5rem;
  background-color: var(--background-color-2--);
  scroll-snap-align: start;
  text-decoration: none;
}

.top-searched-tile .top-searched-overlay,
.top-searched-tile .top-searched-item,
.top-searched-tile .sale-rate {
  grid-row: 1/2;
  grid-column: 1/2;
}

.top-searched-tile .top-searched-overlay {
  width: 15%;
}

.top-searched-tile .top-searched-item {
  object-fit: contain;
  width: 100%;
}

.top-searched-tile .sale-rate {
  width: 100%;
  padding: 0.2rem;
  text-align: center;
  align-self: end;

  font-size: 0.9rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.top-searched-tile .product-name {
  text-align: center;
  align-self: center;
  color: var(--text-color-4--);
}

.today-suggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 1.5rem 0;
}

.today-suggestions-header {
  text-align: center;
  font-size: 1rem;
  color: var(--text-color-1--);
  font-weight: lighter;
  background-color: white;
  padding: 1rem;
  border-bottom: 5px solid var(--main-color-2--);
  position: sticky;
  top: 120px;
  z-index: 1;
}

.today-suggestions-body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
}

.today-suggestion-item {
  position: relative;
}

.more-like-this-link {
  position: absolute;
  top: 100%;
  z-index: 1;
  text-align: center;
  color: var(--text-color-2--);
  text-decoration: none;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--main-color-1--);
  display: none;
}

.today-suggestion-item:hover .more-like-this-link {
  display: block;
}

.today-suggestion-item-body {
  display: grid;
  grid-template-areas: "image-and-overlays" "name" "tags" "price-and-sold";
  grid-auto-flow: column;

  align-items: center;
  background-color: var(--background-color-2--);
  border: 1px solid rgba(128, 128, 128, 0.582);
  position: relative;
  text-decoration: none;
}

.today-suggestion-item-body:hover {
  border: 1px solid var(--main-color-2--);
  cursor: pointer;
  top: 0;
  left: 0;
}

.today-suggestion-item-body img,
.today-suggestion-item-body .discount-overlay,
.today-suggestion-item-body .video-overlay {
  grid-area: image-and-overlays;
}

.today-suggestion-item-body .item-name {
  grid-area: name;
}

.today-suggestion-item-body .item-tags {
  grid-area: tags;
}

.today-suggestion-item-body .price-and-sold {
  grid-area: price-and-sold;
}

.today-suggestion-item-body .product-img,
.today-suggestion-item-body .sale-overlay {
  width: 100%;
  object-fit: contain;
}

.discount-overlay {
  height: fit-content;
  justify-self: end;
  align-self: self-start;
  padding: 0.2rem;
  font-size: 0.8rem;
  color: var(--text-color-1--);
  background-color: pink;
  border-bottom-left-radius: 0.4rem;
}

.video-overlay {
  justify-self: end;
  align-self: end;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
}

.item-name {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: var(--text-color-4--);
}

.liked-label {
  font-size: 0.6rem;
  color: var(--text-color-2--);
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--main-color-2--);
}

.mall-label {
  font-size: 0.6rem;
  color: var(--text-color-2--);
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--main-color-1--);
}

.process-label {
  font-size: 0.6rem;
  color: var(--text-color-2--);
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--main-color-1--);
}

.process-label::before {
  content: "🛍";
}

.price-and-sold {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.item-price {
  color: var(--main-color-1--);
}

.item-price::after {
  content: "đ";
  text-decoration: underline;
  font-size: 0.9rem;
  position: relative;
  top: -3px;
  padding: 0 0.2rem;
}

.item-sold {
  font-size: 0.9rem;
  color: var(--text-color-4--);
}

.item-tags {
  padding: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
}

.cheap-tag {
  font-size: 0.6rem;
  color: var(--main-color-1--);
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  border: 1px solid var(--main-color-1--);
}

.discount-tag {
  font-size: 0.6rem;
  color: var(--text-color-2--);
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--main-color-2--);
}

.flash-sale-tag {
  font-size: 0.6rem;
  color: var(--text-color-2--);
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--main-color-1--);
}

.flash-sale-tag::before {
  content: "🗲";
}

.login-invitation {
  margin: 1.5rem 0;
  padding: 0.8rem;
  width: 30rem;
  align-self: center;
  background-color: var(--background-color-2--);
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-invitation:hover {
  cursor: pointer;
  background-color: rgb(236, 236, 236);
}

footer {
  border-top: 5px solid var(--main-color-2--);
  background-color: var(--background-color-2--);
}

.footer-one .wrapper {
  width: min(90%, 1200px);
  margin: 2rem auto;
  font-family: sans-serif;
}

.footer-one p {
  font-size: 0.8rem;
  margin: 1rem 0;
}

.footer-one li {
  font-size: 0.7rem;
  margin-left: 2rem;
}

.footer-one a {
  color: black;
}

.footer-two {
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}

.footer-two .wrapper {
  width: min(90%, 1200px);
  margin: auto;
  font-size: 0.9rem;
  font-family: sans-serif;
}

.footer-two-header {
  padding: 1.5rem 0;
  border-top: 1px solid var(--background-color-1--);
}

.footer-two-content {
  columns: 200px;
}

.footer-two-links {
  break-inside: avoid;
  margin-bottom: 1.5rem;
}

.footer-two-links h2 {
  color: rgba(0, 0, 0, .54);
  font-weight: bold;
  font-size: 0.8rem;
}

.footer-two-links a {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, .54);
}

.footer-two-links span {
  color: rgba(0, 0, 0, .54);
}

.footer-three {
  background-color: #fbfbfb;
}

.footer-three .wrapper {
  width: min(90%, 1200px);
  margin: 1.5rem auto;
}

.footer-three-top-section {
  columns: 200px;
  column-gap: 3rem;

  padding: 1.5rem 0;
}

.footer-three-link-group {
  break-inside: avoid;
  margin-bottom: 1.5rem;
}

.footer-three-link-group h2 {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.footer-three-link-group a {
  color: rgba(0, 0, 0, .54);
  font-size: 0.8rem;
  line-height: 1.8rem;
  text-decoration: none;
  display: block;
}

.footer-three-link-group a:hover {
  color: var(--main-color-2--);
}

.footer-three-transport-and-payment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  width: fit-content;
}

.footer-three-link-group img {
  border-radius: 0.2rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.footer-three-download-method {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: fit-content;
}

.qr-code {
  grid-row: 1/4;
  grid-column: 1/2;
}

.footer-three-bottom-section {
  border-top: 1px solid var(--background-color-1--);
  padding: 3rem 0;
  color: rgba(0, 0, 0, .54);
  font-size: 0.8rem;
  ;
}